# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# === CLOUDFLARE R2 ENV ===
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=your_r2_bucket_name
NEXT_PUBLIC_R2_DOMAIN=your_r2_public_domain

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
TURNSTILE_SECRET_KEY=your_turnstile_secret_key

# === CLOUDFLARE API REFERENSI ===
CLOUDFLARE_ZONE_ID=your_cloudflare_zone_id
CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id

# Server Cloudflare Nameservers
nameservers=your_cloudflare_nameserver
